/* color palette from <https://github.com/vuejs/theme> */
:root {
  --slateBlue: #6c757c;
  --darkBlue: #212529;
  --lightGray: #e6e5e5;
}

body {
  color: var(--color-text);
  background: whitesmoke;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}