@import './base.css';


h2 {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-size: 2.75rem;
    font-weight: 500;
    letter-spacing: 0.35rem;
    text-align: center;
    color: black;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}